.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: radial-gradient(circle at 50% 45%, #292929 0%, #0a0a0a 100%);
  
  /* IOS 웹브라우저 전용 임시 */
  width: 100%;
  height: 100%;
  position: fixed;
}

.watchImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/watch.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.AppWrap {
  margin: auto;
  padding: 40px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  opacity: 0;
  animation: init 1s linear .5s forwards;
}
@keyframes init {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Title */
h2 {
  font-size: 16px;
}

h3 {
  color: #888;
  font-size: 14px;
  font-weight: normal;
}

p {
  margin-top: 30px;
  color: #888;
  font-size: 12px;
}

/* Email Input */
.emailInput {
  margin: 50px 0;
}

span {
  display: block;
  margin: 15px 0;
  color: #333;
  font-weight: bold;
}

input {
  height: 30px;
  text-align: center;
}

/* Size Button */
button {
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50px;
  border-width: 0;
  color: #fff;
  background-color: #147ce5;
}